<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookVibes</title>
    <link rel="stylesheet" href="/https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <style>

    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">BookVibes</h1>
        <p class="lead">Explore, vibe, and embrace your inner reader</p>
    </div>

    <div class="container">
        <section>
            <h2 class="section-heading">About</h2>
            <p class="home-about">Ignite Your Reading Journey with BookVibes!</p>

            <p class="home-about"> Where Reading Meets Vibes. Unleash your inner reader and dive into a world of
                literary
                exploration. Discover captivating genres, save your favorites, and embrace the joy of reading. Let the
                vibes guide you to unforgettable book adventures. Welcome to BookVibes, your ultimate source for
                literary exploration!</p>
        </section>

        <section class="search-container">
            <h2 class="section-heading">Find your next book</h2>
            <form action="/explore" method="GET">
                <button type="submit">Explore Books</button>
            </form>

        </section>

        <section class="features-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-card">
                        <h3>Discover</h3>
                        <p>Explore a vast collection of books across various genres and discover hidden gems.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-card">
                        <h3>Save Favorites</h3>
                        <p>Create your personalized reading list by saving your favorite books to your profile.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-card">
                        <h3>Embrace the Vibes</h3>
                        <p>Immerse yourself in the captivating stories and let the book vibes transport you to different
                            worlds.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br>

    <footer class="footer">
        &copy; 2023 BookVibes. All rights reserved.
    </footer>
</body>

</html>