/* style.css */
nav ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: .3em;
}

h1 {
    color: rgb(40, 226, 34);
}

.gradient-custom {
    /* fallback for old browsers */
    background: #0b0bbe;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(25, 48, 183), rgb(25, 48, 183));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(20, 38, 174, 0.96), rgb(25, 48, 183));
}

body {
    background-color: #343a40;
    color: #FFFFFF;
}

.search-body {
    background-color: #502c6e;
    color: #cad6e2;
}

.jumbotron {
    background-color: #343a40;
    color: #FFFFFF;
}

.section-heading {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.home-about {
    text-align: center;
}

.genre-section {
    background-color: #343a40;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.genre-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.genre-description {
    font-size: 1.2rem;
}

.search-container {
    margin-top: 50px;
    text-align: center;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.search-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #38c72a;
    color: #FFFFFF;
}

.features-container {
    margin-top: 50px;
}

.feature-card {
    background-color: #6b686c;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}

.feature-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.feature-card p {
    margin-bottom: 0;
}

.footer {
    background-color: #7a757a;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

/* Additional styles for explore page */

.explore-body {
    background-color: #203a9f;
    color: #edeff2;
}

.summary-section {
    padding: 3rem 0;
}

.summary-section .section-heading {
    color: #44caa0;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.summary-section p {
    font-size: 1.2rem;
    color: #f9faf8
}

.genre-card {
    background-color: #6b6a6e;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.genre-card h3 {
    color: #cad6e2;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.genre-card p {
    font-size: 1.2rem;
}

/* explore.ejs page */
.search-result h3,
.search-result p {
    color: white;
}